


/* When sidebar is minimized (closed) */

.nav-button svg{
    vertical-align: middle;
    
}
#nav-toggle:checked ~ #nav-bar .nav-button svg {
    vertical-align: middle;
  
}


.containerr .title {
  color: #ffbd2e;
  
  margin-top: 20px;
  padding-bottom: 5px;
  margin: 0;
  padding-bottom: 0;
}

.containerr .subtitle {
  font-size: 18px;
  margin-top: 20px;
}
.containerr h3 {
  margin-top: 30px;
}


.containerr p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.containerr table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.containerr th, .containerr td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.containerr th {
  background-color: #c9c9c9;
  border: none;
  color: #646464;
}

.containerr td {
  background-color: transparent;
  font-weight: 600;
  border: none;
  
}

.containerr button {
 
  
  border: none;
  border-radius: 5px;
 
  cursor: pointer;
  transition: background-color 0.3s;

 
    

}
.cancel-btn{
   padding: 5px 15px;
    left: 20px;
    border-radius: 8px;
   background-color: #f58a8a;
   cursor: pointer;
}
.rsv-btn{
  margin: 0 10px;
 padding: 10px 15px;
  left: 20px;
}
.cancel-btn:hover {
  background-color: #f58a8abb; 
  border: 1px solid #bcbaba;
  
}

.containerr a {
  text-decoration: none;
}

/* .containerr a:hover {
  text-decoration: underline;
} */


.containerr svg{
    height: 30px;
    width: auto;
    position: relative;
    top: 10px;
    margin-left: 20px;
    cursor: pointer;

}

.nodata-image{
  height: 50px;
}
.card-button-wrapper a{
  text-decoration: none;
}


.cancel-card {
  width: 380px;
  height: fit-content;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 105;
   visibility: hidden; /* Hidden by default */
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  transform: translate(-50%, -50%);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
}
.card-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-heading {
  font-size: 20px;
  font-weight: 700;
  color: var(--navbar-light-primary);
}
.card-description {
  font-weight: 400;
    color: var(--navbar-light-secondary);

}
.card-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card-button {
  width: 50%;
  height: 35px;

  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.primary {
  background-color: rgb(255, 114, 109);
  color: white;
}
.primary:hover {
  background-color: rgb(255, 73, 66);
}
.secondary {
  background-color: #ddd;
}
.secondary:hover {
  background-color: rgb(197, 197, 197);
}
.exit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.exit-button:hover svg {
  fill: black;
}
.exit-button svg {
  fill: rgb(175, 175, 175);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Darkened background */
  opacity: 0;
  visibility: hidden;
  
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 104; /* Behind the modal */
}

.modal-overlay.active,
.cancel-card.active {
  visibility: visible;
  opacity: 1;
}
